<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="fr.univ_paris8.league_battles" version="1.0">
    <name>League Battles</name>
    <description>
        Création de tournois 1 vs 1
    </description>
    <author href="http://www.univ-pairs8.fr" email="cedric.leduc@icloud.fr">
        Cédric Leduc
    </author>
    <icon src="icon.png" gap:role="default"/>
    <preference name="splashcreen" value="splash" />
    <preference name="splashScreenDelay" value="10000" />
    <splash src="splash.png" />
</widget>
